<h1> New Page </h1>

<%= bootstrap_form_for @page, url: contenticus_admin_pages_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f| %>

  <%= render 'layouts/contenticus/admin/formbar', f: f %>

  <%= render 'form', f: f %>

<% end %>