.block.panel.panel-default.fields
  .panel-heading
    = tag_toolbar tag, collapse: {open: tag.open_by_default?}
    %h3.panel-title
      = tag.name
  .panel-body.collapse{id: tag.dom_id, class: tag.open_by_default? ? 'in' : ''}
    .fields-wrapper.sortable
      = yield
