- if tag.collectible?
  = render partial: "contenticus/admin/tags/text_area_form", layout: "contenticus/admin/tags/collectible", locals: {tag: tag, form: form}
- else
  = render "contenticus/admin/tags/text_area_form", tag: tag, form: form
