.btn-toolbar.pull-right.collectible-bar
  .btn-group
    .btn.btn-default
      %span.dragger.icon
        %span.glyphicon.glyphicon-move
    %a.btn.btn-danger.remove-collectible
      %span.glyphicon.glyphicon-remove