div.block {
  border-left: 5px solid $brand-primary;
}

div.section {
  border-left: 5px solid $brand-info;

  .panel-heading {
    height: 55px;
  }
}

.panel {
  position: relative;
}

.fields-wrapper .panel-body .icon{
  right: 10px;
}

section .fields {
  position: relative;
  .icon {
    left: 20px;
    font-size: 30px;
    top: 2px;
  }
}


// The collectible bar should only be visible if it is directly under a collectible item
.collectible-bar {
  display: none;
}

// For blocks it is in the heading
.collectible > .panel > .panel-heading > .collectible-bar {
  display: block;
}

// For regular tags it is in the body since they have no heading
.collectible > .panel > .panel-body > .collectible-bar {
  display: block;
}
