<% buttons ||= ["save", "save_and_close", "close"] %>

<%= hidden_field_tag :close_after_save, "", id: "formbar_close_after_save" %>

<% content_for :formbar do %>
  <div id="formbar" class="navbar-inner">
    <%= f.submit("Speichern", class: "btn btn-success", 'data-close' => '') if buttons.include?("save") %>
    <%= f.submit("Speichern und Schließen", class: "btn btn-success", 'data-close' => 'close') if buttons.include?("save_and_close") %>
    <%= link_to("Schließen", {action: "index"}, class: "btn btn-default") if buttons.include?("close") %>
  </div>
<% end %>