<h1>
  <%= link_to("Upload New File", new_contenticus_admin_file_path, class: "btn btn-large btn-default pull-right") %>  
  Files
</h1>

<hr>

<ul class="list">
<% @files.each do |file| %>
  
  <li class="item">

    <%= image_tag file.file.thumb("50x50#").url %> 
    <div class="btn-group">
      <%= link_to "Edit", edit_contenticus_admin_file_path(file), class: "btn btn-default" %>
    </div>

    <div class="item-content">
      <div class="item-title">
        <%= file.file_name %>
      </div>
    </div>
  </li>

<% end %>
</ul>